//
//  Example.Secrets.xcconfig
//  ChatGptCloneApp
//
//  Created by Emre Simsek on 31.08.2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

OPENAI_API_KEY=YOUR_API_KEY
